html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Proxima Nova Rg", sans-serif;
}

.header {
  padding: 2px;
  color: white;
  text-align: center;
  background: #00ab6b;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.header p {
  font-size: 1.2rem;
}

.App {
  text-align: center;
}

.text-left {
  text-align: left;
}

input:focus-visible {
  outline: none;
}

.input {
  font-size: 1rem;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 100px;
  box-sizing: border-box;
}

/* Table */
td {
  padding: 8px;
}

/* Button */
.btn {
  padding: 12px;
  border-radius: 50px;
  background-color: #00ab6b;
  color: #fff;
  width: 200px;
  margin: 20px;
  border: none;
  cursor: pointer;
}

.w-25 {
  width: 25%;
}

.w-50 {
  width: 50%;
}

.w-40 {
  width: 40%;
}

.w-100 {
  width: 100% !important;
}
.p-10 {
  padding: 10px;
}
.p-20 {
  padding: 20px;
}

.text {
  line-height: 1.5;
}

.m-auto {
  margin: auto;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

/* Loader */
.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #00ab6b;
  width: 25px;
  height: 25px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Card */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 300px;
  max-height: 564px;
  height: 100%;
  margin: 8px;
  border-radius: 8px;
}

.card img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  max-height: 424px;
  width: 100%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 16px 8px;
}

.container h3:hover {
  color: #00ab6b;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-1 {
  flex-grow: 1;
}

.col-2 {
  flex-grow: 2;
}
.col-3 {
  flex-grow: 3;
}
.col-4 {
  flex-grow: 4;
}
.col-5 {
  flex-grow: 5;
}
.col-6 {
  flex-grow: 6;
}
.col-7 {
  flex-grow: 7;
}
.col-8 {
  flex-grow: 8;
}
.col-9 {
  flex-grow: 9;
}
.col-10 {
  flex-grow: 10;
}
.col-11 {
  flex-grow: 11;
}
.col-12 {
  flex-grow: 12;
}

.capitalize {
  text-transform: capitalize;
}
.pointer {
  cursor: pointer;
}

/* Modal Popup */
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {
  opacity: 0.7;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content,
#caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* Floating */
.floating-button {
  position: fixed;
  bottom: 20px;
  right: 25px;
  background: #00ab6b;
  padding: 20px;
  border-radius: 50px;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  width: 25px;
  display: none;
  height: 25px;
  box-shadow: 2px 4px 20px #0000005c;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
  .w-50 {
    width: 100%;
  }
  .card,
  .searchField {
    margin: auto;
  }
  .searchField {
    width: 80%;
  }
  .card.mxw-100 {
    width: auto !important;
    margin: 15px;
    padding: 31px;
    height: auto;
    max-width: 100%;
    max-height: 100%;
  }
}
